@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light dark;
}

html[data-theme=light] {
  color-scheme: light;
}

html[data-theme=dark] {
  color-scheme: dark;
}

:root {
    --background: hsl(0, 0%, 100%);
}

.dark {
  --background: hsl(240, 10%, 3.9%);
}

body {
  background-color: var(--background);
}