@import 'tailwindcss';

/* Настраиваем dark как селектор */
@variant dark (&:where(.dark, .dark *));

/* Поддержка системной темы */
html {
  color-scheme: light dark;
}

html[data-theme=light] {
  color-scheme: light;
}

html[data-theme=dark] {
  color-scheme: dark;
}

:root {
    --background: hsl(0, 0%, 100%);
    --color-secondary: hsl(40, 4.8%, 95.9%);
    --color-destructive: hsl(0, 84.2%, 60.2%);
    --color-foreground: hsl(240, 10%, 3.9%);
    --color-destructive-foreground: hsl(0, 0%, 100%);
    --color-border: hls(240, 5.9%, 90%);
    --color-input: hsl(240, 4.9%, 83.9%);
}

.dark {
  --background: hsl(240, 10%, 3.9%);
  --color-secondary: hsl(240, 3.7%, 15.9%);
  --color-destructive: hsl(0, 74%, 50%);
  --color-foreground: hsl(240, 4.8%, 95.9%);
  --color-destructive-foreground: hsl(0, 0%, 100%);
  --color-border: hls(240, 3.7%, 15.9%);
  --color-input: hsl(240, 3.7%, 15.9%);
}

body {
  background-color: var(--background);
}


@layer utilities {
  .bg-destructive {
    background-color: var(--color-destructive);
  }

  .dark .dark\:bg-destructive {
    background-color: var(--color-destructive);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .dark .dark\:bg-secondary {
    background-color: var(--color-secondary);
  }

  .text-destructive {
    color: var(--color-destructive);
  }

  .dark .dark\:text-destructive {
    color: var(--color-destructive);
  }

  .text-destructive-foreground {
    color: var(--color-destructive-foreground);
  }

  .dark .dark\:text-destructive-foreground {
    color: var(--color-destructive-foreground);
  }

  /* Цвет рамки */
  .border-destructive {
    border-color: var(--color-destructive);
  }
  .dark .dark\:border-destructive {
    border-color: var(--color-destructive);
  }

  .border-input {
    border-color: var(--color-input);
  }

  .text-foreground {
    color: var(--color-foreground);
  }

  /* Кольца */
  .ring-destructive {
    box-shadow: 0 0 0 4px var(--color-destructive);
  }

  .ring-destructive\/40 {
    box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.4); /* Пример полупрозрачного кольца */
  }
}