@import 'tailwindcss';

@theme {
    --color-destructive: hsl(0, 84.2%, 60.2%);
    --color-foreground: hsl(240, 10%, 3.9%);
    --color-destructive-foreground: hsl(0, 0%, 100%);
    --color-input: hsl(240, 4.9%, 83.9%);
}

/*
@theme .dark {
    --color-foreground: hsl(240, 4.8%, 95.9%);
    --color-input: hsl(240, 3.7%, 15.9%);
}
 */

.border-input {
    border-color: var(--color-input);
}

.text-foreground {
    color: var(--color-foreground);
}
